<% 
  days_in_month = calendar_date.end_of_month.day
  first_day = calendar_date.beginning_of_month.wday
  first_day = 7 if first_day == 0 # Convert Sunday from 0 to 7
  first_day -= 1 # Adjust for Monday start
%>

<!-- Previous month trailing days -->
<% first_day.times do |i| %>
  <% prev_date = calendar_date.beginning_of_month - (first_day - i).days %>
  <div class="calendar-day prev-month">
    <%= prev_date.day %>
  </div>
<% end %>

<!-- Current month days -->
<% (1..days_in_month).each do |day| %>
  <% 
    is_today = day == 7 # Highlighting day 7 as shown in the image
    is_selected = [19, 29].include?(day) # Selected days as shown
    css_classes = "calendar-day"
    css_classes += " today" if is_today
    css_classes += " selected" if is_selected && !is_today
  %>
  <div class="<%= css_classes %>" data-action="click->calendar#selectDay" data-day="<%= day %>">
    <%= day %>
  </div>
<% end %>
