<div class="main-header">
  <div class="search-container">
    <%= lucide_icon "search", class: "search-icon" %>
    <input type="text" placeholder="Search" class="search-input">
  </div>

  <div class="user-info">
    <span class="date-display">12 May 2022, Friday</span>
    <div class="user-avatar">
      <span><%= current_user[:avatar] %></span>
    </div>
  </div>
</div>
