<div class="form-group">
  <%= f.label :password, t('.password') %>

  <div class="password-wrapper">
    <%= f.password_field :password, autocomplete: "current-password", placeholder: "••••••••", data: { 'toggle-password-target': 'password' }, required: true %>
    <button type="button" class="toggle-password" data-action="click->toggle-password#toggle" data-toggle-password-target="toggle">
      <%= lucide_icon 'eye', class: 'open' %>
      <%= lucide_icon 'eye-closed', class: 'closed' %>
    </button>
  </div>
</div>